@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-semibold text-au-text-dark;
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl leading-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl leading-tight;
  }

  h3 {
    @apply text-2xl md:text-3xl font-sans font-semibold;
  }
}