@tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
      body {
        @apply bg-au-bg-light text-au-text-dark font-sans antialiased;
      }
      h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
      }
    }