@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 30% 98%;
    --foreground: 222.2 84% 4.9%;
    --primary: 28.5 45.5% 21.8%;
    --primary-light: 28.5 40% 45.5%;
    --primary-foreground: 0 0% 100%;
    --accent: 42.1 100% 61.2%;
    --accent-hover: 42.1 90% 55%;
    --accent-foreground: 222.2 84% 4.9%;
    --muted: 210 20% 85%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --border: 210 15% 80%;
    --ring: 42.1 100% 61.2%;
    --radius: 0.5rem;
  }
 
  /* Add other base styles here if needed */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}